
database/*.db
database/*.sqlite
database/*.sqlite3
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*


database/*.db
database/*.sqlite
database/*.sqlite3
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*


database/sismed.db


.vscode/

database/
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*
.vscode/